<h6>Aspect ratio</h6>

<div class="row">
    <div class="col-md-5 row">
        <div class="col-12">
            <div class="card " style="height: 200px;">
                <div class="card-body">
                    <h3 class="card-title">Pro version ON</h3>
                    <h6>You have access all functions</h6>
                    <h3 class="pt-3 card-title">Edit subscription <i class="bx bx-diamond"></i></h3>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reliable reviews</h3>
                    <h6>Anti-spam filtered reviews</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 row">
        <div class="col-md-6">
            <div class="card green-card">
                <div class="card-body">
                    <h3 class="card-title">Quality</h3>
                    <h6>Score out of 100</h6>
                    <h3  class="mb-0 mt-1 mb-2">90% <i class='bx bx-right-top-arrow-circle'></i></h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card green-card">
                <div class="card-body">
                    <h3 class="card-title">Safety</h3>
                    <h6>Score out of 100</h6>
                    <h3  class="mb-0 mt-1 mb-2">72% <i class='bx bx-right-top-arrow-circle'></i></h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card green-card">
                <div class="card-body">
                    <h3 class="card-title">Design</h3>
                    <h6>Score out of 100</h6>
                    <h3  class="mb-0 mt-1 mb-2">93% <i class='bx bx-right-top-arrow-circle'></i></h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card red-card">
                <div class="card-body">
                    <h3 class="card-title">Service</h3>
                    <h6>Score out of 100</h6>
                    <h3  class="mb-0 mt-1 mb-2">64% <i class='bx bx-right-down-arrow-circle'></i></h3>
                </div>
            </div>
        </div>
    </div>
</div>